body{
	margin:0;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 5px;  
    height: 16px;  
    background-color: #F5F5F5;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    border-radius: 10px;  
    background-color: #F5F5F5;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #909090;  
}  
/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.demo-1 .large-header {
	background-image: url('../img/demo-1-bg.jpg');
}



.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.demo-1 .main-title, 
 {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}



.main-title .thin {
	font-weight: 200;
}

@media only screen and (max-width : 768px) {
	.demo-1 .main-title, 
	{
		font-size: 3em;
	}

	
}

/*自定样式*/
#nav-link{
	color: white;
	font-weight: 500;
	padding-top:3rem; 
	padding-right: 5rem;
	font-size: 125%;
}
#brand{
	padding-left: 4rem;
	padding-top: 2rem;
	width: 28rem;
}
#moblie-menu{
	margin-top: 4rem;
}
#border{
	transition: border-bottom .1s linear, border-bottom .1s linear;
	padding-left: 10px;
	margin-left: 5px;
	padding-right:10px;
	margin-right: 5px:  

}
#border:hover{
	border-bottom:2px solid #2a86cc;
	padding-bottom: 1rem;	
}
#welcome-title{
	font-size:5rem;
}

/*@media(min-width: 768px){
	#sl-introduce{
		padding-top: 3rem;
	}
}*/
#sl-introduce{
	width: 100%;
	padding-bottom: 6rem;
	
	
}
#sl-introduce h1{
	text-align:center;
}
#introduce-logo{
	width:35rem;
	/*height:35rem;
*/
}
#introduce-content{
	font-size:20px;
	line-height: 2;
}

#line{
	height: 3px;
    width: 50px;
    background-color: #f7931d;
    margin: 2rem auto 7rem auto;
}
.introduce-title{
	font-family: "Microsoft YaHei",  "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 4px;
    text-indent: 6px;
    color: #2f2e2e;
    margin-top: 5rem;
}

.li{
	
	width: 100%;
	height:23rem-10px;
	padding: 5px;
	margin: 20 auto;
	
	border:2px solid #efefef;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.1) inset; 
	-o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.1) inset;
}


.picture{
	width:100%;
	height:23rem;

}

#footer{
	background-color: #222324;
	color: white;
	width: 100%;
	
}
#footer h4{
	padding-top: 3rem;
}
.activity-title{
	font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 15px;
}
.activity{
	/*background-color: #f5f6fa;*/

}
.activity:hover{
	
	background-color: #3498db;
	color: white;
}
.swiper-container {
	margin-top:3rem;
	margin-bottom: 3rem; 
    width: 100%;
    
}  
@media(min-width: 768px){
	#bm-introduce{
		padding-top: 14rem;

	}
}
@media(max-width: 767px){
	#bm-introduce{
		padding-bottom: 2rem;
		padding-left: 2rem;
		padding-right: 2rem;
	}
}
#bm-introduce h3{
	font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 15px;
}
#bm-introduce p{
	font-size:125%;
}
#tab-page{
	background-color: white;
}
.page{
	background-color: white; 
}
@media(min-width: 768px){
	#form{
		margin-top: -20rem;
		padding-left: 20rem;
		padding-right: 20rem;
		background-color: rgba(34,35,36,0.6);
	}
}
@media(max-width:767px){
	#form{
		display: none;
	}
	#button{
		text-align: center;
		margin-top: -10rem;
	}

}
@media(min-width: 768px){
	#button{
		display: none;
	}

}
#one{
	background:url(../img/blue.png) no-repeat;
	background-size: cover;
}
#two{
	background: url(../img/two.png) no-repeat;
	background-size: cover; 
}
#three{
	color:white;
	background: url(../img/section3.jpg);
}
#four{
	background: url(../img/colorful.jpg) no-repeat;
	background-size: cover; 
	 
}
#fp-nav ul li a.active span,  
.fp-slidesNav ul li a.active span {  
    background: #C5CBE3; /*这里设置的是活动导航的颜色*/  
}  
#fp-nav ul li a span,  
.fp-slidesNav ul li a span {  
    background:  #C5CBE3;/*这里设置的是非活动导航的颜色*/  
} 
@media(min-width: 768px;){
	#tcc{
		width: 50rem;
	}
} 
/*翘边阴影*/
